/* 
    # Template Telemedicina 
    # Versão Beta
    # Autor: Prof. Vinícius Almeida
    # Empresa: Brasmid

    # Observações:
        CALC (Pixel para Rem)
            62.5% = 10px 
            1.2rem  = 12px
            .8rem   = 8px
*/

.hiddens {
    visibility: hidden;
}

:root {
    font-size: 62.5%; 
    --cor-principal: #0D417F;
    --cor-menu-hover: #1c59a2;
    --cor-menu-minha-conta: #0c2a4e;
    --cor-slider-box: rgba(56, 89, 136, 0.31);
    --cor-button-azul: #3D83DF;
    --cor-etapas-paragrafo: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'roboto', arial, helvetica, sans-serif;
}


/* Cabeçalho e Pesquisa */
header { 
    width: 100%;
    background-color: var(--cor-principal);
    font-weight: 500;
}

header a {
    text-decoration: none;
   
}

/* Margin Centraliza para Resoluções Maiores */
.container {
    margin: 0 auto;
    max-width: 88%;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
}


.logo {   
    margin-left: 44px;
}


.menu-options {
    display: flex;
    justify-content: space-between;
}

.menu-options a{
    color: white;
}


.menu-options > ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-options > ul > li{
    display: flex;
    justify-content: center;
    margin: 0 7px;
    font-size: 1.5rem;
    padding: 10px;
    width: 130px;
    margin-right: 20px;
}

.menu-options > ul > li:hover{
    background-color: var(--cor-menu-hover);
    border-radius: 4px;
    cursor: pointer;
}

.menu-mobile {
  display: none;
}

.menu-responsive {
    display: none;

}

.my-account {
  background-color: var(--cor-menu-minha-conta);
  border-radius: 4px;
  cursor: pointer;

}

.slider {  
    width: 100%;
    /* background: linear-gradient(180deg, #4B79BA 0%, #4B79BA 100%); */
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(28%2c 89%2c 162%2c 1)'%3e%3c/rect%3e%3cpath d='M197.72 41.95L262.68 79.45L262.68 154.45L197.72 191.95L132.77 154.45L132.77 79.45zM197.72 491.95L262.68 529.45L262.68 604.45L197.72 641.95L132.77 604.45L132.77 529.45zM392.58 154.45L457.54 191.95L457.54 266.95L392.58 304.45L327.63 266.95L327.63 191.95zM652.4 -70.55L717.35 -33.05L717.35 41.95L652.4 79.45L587.44 41.95L587.44 -33.05zM717.35 266.95L782.31 304.45L782.31 379.45L717.35 416.95L652.4 379.45L652.4 304.45zM652.4 379.45L717.35 416.95L717.35 491.95L652.4 529.45L587.44 491.95L587.44 416.95zM847.26 41.95L912.21 79.45L912.21 154.45L847.26 191.95L782.3 154.45L782.3 79.45zM847.26 266.95L912.21 304.45L912.21 379.45L847.26 416.95L782.3 379.45L782.3 304.45zM782.3 379.45L847.26 416.95L847.26 491.95L782.3 529.45L717.35 491.95L717.35 416.95zM847.26 491.95L912.21 529.45L912.21 604.45L847.26 641.95L782.3 604.45L782.3 529.45zM1042.12 154.45L1107.07 191.95L1107.07 266.95L1042.12 304.45L977.17 266.95L977.17 191.95zM1107.07 266.95L1172.03 304.45L1172.03 379.45L1107.07 416.95L1042.12 379.45L1042.12 304.45zM1301.93 154.45L1366.89 191.95L1366.89 266.95L1301.93 304.45L1236.98 266.95L1236.98 191.95zM1366.89 491.95L1431.84 529.45L1431.84 604.45L1366.89 641.95L1301.93 604.45L1301.93 529.45zM1431.84 379.45L1496.8 416.95L1496.8 491.95L1431.84 529.45L1366.89 491.95L1366.89 416.95z' stroke='rgba(7%2c 62%2c 116%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M21.19 135.97L64.49 160.97L64.49 210.97L21.19 235.97L-22.11 210.97L-22.11 160.97zM64.49 360.97L107.8 385.97L107.8 435.97L64.49 460.97L21.19 435.97L21.19 385.97zM107.8 135.97L151.1 160.97L151.1 210.97L107.8 235.97L64.49 210.97L64.49 160.97zM151.1 360.97L194.4 385.97L194.4 435.97L151.1 460.97L107.8 435.97L107.8 385.97zM151.1 510.97L194.4 535.97L194.4 585.97L151.1 610.97L107.8 585.97L107.8 535.97zM237.7 60.97L281 85.97L281 135.97L237.7 160.97L194.4 135.97L194.4 85.97zM194.4 285.97L237.7 310.97L237.7 360.97L194.4 385.97L151.1 360.97L151.1 310.97zM237.7 360.97L281 385.97L281 435.97L237.7 460.97L194.4 435.97L194.4 385.97zM237.7 510.97L281 535.97L281 585.97L237.7 610.97L194.4 585.97L194.4 535.97zM281 435.97L324.31 460.97L324.31 510.97L281 535.97L237.7 510.97L237.7 460.97zM367.61 135.97L410.91 160.97L410.91 210.97L367.61 235.97L324.31 210.97L324.31 160.97zM410.91 360.97L454.22 385.97L454.22 435.97L410.91 460.97L367.61 435.97L367.61 385.97zM410.91 510.97L454.22 535.97L454.22 585.97L410.91 610.97L367.61 585.97L367.61 535.97zM497.52 60.97L540.82 85.97L540.82 135.97L497.52 160.97L454.22 135.97L454.22 85.97zM454.22 285.97L497.52 310.97L497.52 360.97L454.22 385.97L410.91 360.97L410.91 310.97zM540.82 285.97L584.12 310.97L584.12 360.97L540.82 385.97L497.52 360.97L497.52 310.97zM627.43 135.97L670.73 160.97L670.73 210.97L627.43 235.97L584.12 210.97L584.12 160.97zM627.43 435.97L670.73 460.97L670.73 510.97L627.43 535.97L584.12 510.97L584.12 460.97zM714.03 -14.03L757.33 10.97L757.33 60.97L714.03 85.97L670.73 60.97L670.73 10.97zM757.33 210.97L800.64 235.97L800.64 285.97L757.33 310.97L714.03 285.97L714.03 235.97zM714.03 285.97L757.33 310.97L757.33 360.97L714.03 385.97L670.73 360.97L670.73 310.97zM757.33 360.97L800.64 385.97L800.64 435.97L757.33 460.97L714.03 435.97L714.03 385.97zM757.33 510.97L800.64 535.97L800.64 585.97L757.33 610.97L714.03 585.97L714.03 535.97zM800.64 285.97L843.94 310.97L843.94 360.97L800.64 385.97L757.33 360.97L757.33 310.97zM800.64 435.97L843.94 460.97L843.94 510.97L800.64 535.97L757.33 510.97L757.33 460.97zM930.54 210.97L973.85 235.97L973.85 285.97L930.54 310.97L887.24 285.97L887.24 235.97zM887.24 285.97L930.54 310.97L930.54 360.97L887.24 385.97L843.94 360.97L843.94 310.97zM930.54 360.97L973.85 385.97L973.85 435.97L930.54 460.97L887.24 435.97L887.24 385.97zM973.85 135.97L1017.15 160.97L1017.15 210.97L973.85 235.97L930.54 210.97L930.54 160.97zM1017.15 360.97L1060.45 385.97L1060.45 435.97L1017.15 460.97L973.85 435.97L973.85 385.97zM973.85 435.97L1017.15 460.97L1017.15 510.97L973.85 535.97L930.54 510.97L930.54 460.97zM1103.75 60.97L1147.06 85.97L1147.06 135.97L1103.75 160.97L1060.45 135.97L1060.45 85.97zM1060.45 135.97L1103.75 160.97L1103.75 210.97L1060.45 235.97L1017.15 210.97L1017.15 160.97zM1103.75 210.97L1147.06 235.97L1147.06 285.97L1103.75 310.97L1060.45 285.97L1060.45 235.97zM1060.45 435.97L1103.75 460.97L1103.75 510.97L1060.45 535.97L1017.15 510.97L1017.15 460.97zM1190.36 60.97L1233.66 85.97L1233.66 135.97L1190.36 160.97L1147.06 135.97L1147.06 85.97zM1147.06 135.97L1190.36 160.97L1190.36 210.97L1147.06 235.97L1103.75 210.97L1103.75 160.97zM1147.06 435.97L1190.36 460.97L1190.36 510.97L1147.06 535.97L1103.75 510.97L1103.75 460.97zM1190.36 510.97L1233.66 535.97L1233.66 585.97L1190.36 610.97L1147.06 585.97L1147.06 535.97zM1276.96 360.97L1320.27 385.97L1320.27 435.97L1276.96 460.97L1233.66 435.97L1233.66 385.97zM1320.27 -14.03L1363.57 10.97L1363.57 60.97L1320.27 85.97L1276.96 60.97L1276.96 10.97zM1363.57 60.97L1406.87 85.97L1406.87 135.97L1363.57 160.97L1320.27 135.97L1320.27 85.97zM1320.27 135.97L1363.57 160.97L1363.57 210.97L1320.27 235.97L1276.96 210.97L1276.96 160.97zM1363.57 210.97L1406.87 235.97L1406.87 285.97L1363.57 310.97L1320.27 285.97L1320.27 235.97zM1320.27 285.97L1363.57 310.97L1363.57 360.97L1320.27 385.97L1276.96 360.97L1276.96 310.97zM1363.57 360.97L1406.87 385.97L1406.87 435.97L1363.57 460.97L1320.27 435.97L1320.27 385.97zM1363.57 510.97L1406.87 535.97L1406.87 585.97L1363.57 610.97L1320.27 585.97L1320.27 535.97zM1450.17 60.97L1493.48 85.97L1493.48 135.97L1450.17 160.97L1406.87 135.97L1406.87 85.97zM1406.87 135.97L1450.17 160.97L1450.17 210.97L1406.87 235.97L1363.57 210.97L1363.57 160.97zM1406.87 435.97L1450.17 460.97L1450.17 510.97L1406.87 535.97L1363.57 510.97L1363.57 460.97z' stroke='rgba(18%2c 109%2c 203%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.slider-contents {
    display: flex;
    justify-content:space-between;
    height: 486px;
}


.slider-contents > .slider-medical {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: -2px;
}

.slider-search {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   /*  background-color: red;  */
    margin: 170px 0px 20px 57px;

   
}

.slider-search > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 91.69%;
    color: #FFFFFF;
    margin-bottom: 15px;    
}

.slider-search > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 91.69%;
    color: rgba(255, 255, 255, 0.83);

}

.slider-search-box {
    width: 500px;
    height: 95px;
    background: var( --cor-slider-box);
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.slider-search-box button {
    width: 129px;
    height: 58px;
    background: var(--cor-button-azul);
    border-radius: 4px;
    color: white;
    border-style: none;
    font-size: 1.5rem;
}

.slider-search-box button:hover {
    background-color: var(--cor-menu-hover);
}

.slider-search-box select {
    font-weight: 500;
    font-size: 1.6rem;
    color: rgb(70, 68, 68);
    width: 330px;
    height: 57px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 14px;
}   


/* Etapas */
.bg-steps {
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(216%2c 218%2c 221%2c 1)'%3e%3c/rect%3e%3cpath d='M38.68 -20.77L103.63 16.73L103.63 91.73L38.68 129.23L-26.27 91.73L-26.27 16.73zM103.63 316.73L168.59 354.23L168.59 429.23L103.63 466.73L38.68 429.23L38.68 354.23zM103.63 541.73L168.59 579.23L168.59 654.23L103.63 691.73L38.68 654.23L38.68 579.23zM233.54 91.73L298.5 129.23L298.5 204.23L233.54 241.73L168.59 204.23L168.59 129.23zM233.54 541.73L298.5 579.23L298.5 654.23L233.54 691.73L168.59 654.23L168.59 579.23zM298.5 -20.77L363.45 16.73L363.45 91.73L298.5 129.23L233.54 91.73L233.54 16.73zM363.45 91.73L428.4 129.23L428.4 204.23L363.45 241.73L298.5 204.23L298.5 129.23zM428.4 -20.77L493.36 16.73L493.36 91.73L428.4 129.23L363.45 91.73L363.45 16.73zM428.4 204.23L493.36 241.73L493.36 316.73L428.4 354.23L363.45 316.73L363.45 241.73zM428.4 429.23L493.36 466.73L493.36 541.73L428.4 579.23L363.45 541.73L363.45 466.73zM558.31 -20.77L623.26 16.73L623.26 91.73L558.31 129.23L493.36 91.73L493.36 16.73zM623.26 91.73L688.22 129.23L688.22 204.23L623.26 241.73L558.31 204.23L558.31 129.23zM558.31 204.23L623.26 241.73L623.26 316.73L558.31 354.23L493.36 316.73L493.36 241.73zM623.26 316.73L688.22 354.23L688.22 429.23L623.26 466.73L558.31 429.23L558.31 354.23zM558.31 429.23L623.26 466.73L623.26 541.73L558.31 579.23L493.36 541.73L493.36 466.73zM753.17 91.73L818.13 129.23L818.13 204.23L753.17 241.73L688.22 204.23L688.22 129.23zM688.22 204.23L753.17 241.73L753.17 316.73L688.22 354.23L623.26 316.73L623.26 241.73zM688.22 429.23L753.17 466.73L753.17 541.73L688.22 579.23L623.26 541.73L623.26 466.73zM818.12 -20.77L883.08 16.73L883.08 91.73L818.12 129.23L753.17 91.73L753.17 16.73zM818.12 204.23L883.08 241.73L883.08 316.73L818.12 354.23L753.17 316.73L753.17 241.73zM883.08 316.73L948.03 354.23L948.03 429.23L883.08 466.73L818.12 429.23L818.12 354.23zM948.03 -20.77L1012.99 16.73L1012.99 91.73L948.03 129.23L883.08 91.73L883.08 16.73zM1012.99 91.73L1077.94 129.23L1077.94 204.23L1012.99 241.73L948.03 204.23L948.03 129.23zM948.03 204.23L1012.99 241.73L1012.99 316.73L948.03 354.23L883.08 316.73L883.08 241.73zM1012.99 316.73L1077.94 354.23L1077.94 429.23L1012.99 466.73L948.03 429.23L948.03 354.23zM1142.89 91.73L1207.85 129.23L1207.85 204.23L1142.89 241.73L1077.94 204.23L1077.94 129.23zM1077.94 429.23L1142.89 466.73L1142.89 541.73L1077.94 579.23L1012.99 541.73L1012.99 466.73zM1142.89 541.73L1207.85 579.23L1207.85 654.23L1142.89 691.73L1077.94 654.23L1077.94 579.23zM1207.85 204.23L1272.8 241.73L1272.8 316.73L1207.85 354.23L1142.89 316.73L1142.89 241.73zM1207.85 429.23L1272.8 466.73L1272.8 541.73L1207.85 579.23L1142.89 541.73L1142.89 466.73zM1337.76 -20.77L1402.71 16.73L1402.71 91.73L1337.76 129.23L1272.8 91.73L1272.8 16.73zM1337.76 204.23L1402.71 241.73L1402.71 316.73L1337.76 354.23L1272.8 316.73L1272.8 241.73zM1532.62 91.73L1597.57 129.23L1597.57 204.23L1532.62 241.73L1467.66 204.23L1467.66 129.23zM1532.62 316.73L1597.57 354.23L1597.57 429.23L1532.62 466.73L1467.66 429.23L1467.66 354.23z' stroke='rgba(111%2c 182%2c 253%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M41.15 109.78L84.45 134.78L84.45 184.78L41.15 209.78L-2.15 184.78L-2.15 134.78zM41.15 409.78L84.45 434.78L84.45 484.78L41.15 509.78L-2.15 484.78L-2.15 434.78zM127.75 259.78L171.06 284.78L171.06 334.78L127.75 359.78L84.45 334.78L84.45 284.78zM214.36 -40.22L257.66 -15.22L257.66 34.78L214.36 59.78L171.06 34.78L171.06 -15.22zM214.36 259.78L257.66 284.78L257.66 334.78L214.36 359.78L171.06 334.78L171.06 284.78zM300.96 -40.22L344.27 -15.22L344.27 34.78L300.96 59.78L257.66 34.78L257.66 -15.22zM344.27 334.78L387.57 359.78L387.57 409.78L344.27 434.78L300.96 409.78L300.96 359.78zM344.27 484.78L387.57 509.78L387.57 559.78L344.27 584.78L300.96 559.78L300.96 509.78zM387.57 109.78L430.87 134.78L430.87 184.78L387.57 209.78L344.27 184.78L344.27 134.78zM474.18 -40.22L517.48 -15.22L517.48 34.78L474.18 59.78L430.87 34.78L430.87 -15.22zM517.48 484.78L560.78 509.78L560.78 559.78L517.48 584.78L474.18 559.78L474.18 509.78zM560.78 -40.22L604.08 -15.22L604.08 34.78L560.78 59.78L517.48 34.78L517.48 -15.22zM560.78 109.78L604.08 134.78L604.08 184.78L560.78 209.78L517.48 184.78L517.48 134.78zM560.78 409.78L604.08 434.78L604.08 484.78L560.78 509.78L517.48 484.78L517.48 434.78zM647.38 -40.22L690.69 -15.22L690.69 34.78L647.38 59.78L604.08 34.78L604.08 -15.22zM690.69 34.78L733.99 59.78L733.99 109.78L690.69 134.78L647.38 109.78L647.38 59.78zM690.69 184.78L733.99 209.78L733.99 259.78L690.69 284.78L647.38 259.78L647.38 209.78zM690.69 334.78L733.99 359.78L733.99 409.78L690.69 434.78L647.38 409.78L647.38 359.78zM690.69 484.78L733.99 509.78L733.99 559.78L690.69 584.78L647.38 559.78L647.38 509.78zM777.29 34.78L820.6 59.78L820.6 109.78L777.29 134.78L733.99 109.78L733.99 59.78zM777.29 184.78L820.6 209.78L820.6 259.78L777.29 284.78L733.99 259.78L733.99 209.78zM733.99 409.78L777.29 434.78L777.29 484.78L733.99 509.78L690.69 484.78L690.69 434.78zM777.29 484.78L820.6 509.78L820.6 559.78L777.29 584.78L733.99 559.78L733.99 509.78zM907.2 -40.22L950.5 -15.22L950.5 34.78L907.2 59.78L863.9 34.78L863.9 -15.22zM907.2 259.78L950.5 284.78L950.5 334.78L907.2 359.78L863.9 334.78L863.9 284.78zM907.2 409.78L950.5 434.78L950.5 484.78L907.2 509.78L863.9 484.78L863.9 434.78zM993.81 409.78L1037.11 434.78L1037.11 484.78L993.81 509.78L950.5 484.78L950.5 434.78zM1080.41 -40.22L1123.71 -15.22L1123.71 34.78L1080.41 59.78L1037.11 34.78L1037.11 -15.22zM1123.71 184.78L1167.02 209.78L1167.02 259.78L1123.71 284.78L1080.41 259.78L1080.41 209.78zM1080.41 409.78L1123.71 434.78L1123.71 484.78L1080.41 509.78L1037.11 484.78L1037.11 434.78zM1167.02 -40.22L1210.32 -15.22L1210.32 34.78L1167.02 59.78L1123.71 34.78L1123.71 -15.22zM1167.02 109.78L1210.32 134.78L1210.32 184.78L1167.02 209.78L1123.71 184.78L1123.71 134.78zM1210.32 184.78L1253.62 209.78L1253.62 259.78L1210.32 284.78L1167.02 259.78L1167.02 209.78zM1296.92 184.78L1340.23 209.78L1340.23 259.78L1296.92 284.78L1253.62 259.78L1253.62 209.78zM1253.62 409.78L1296.92 434.78L1296.92 484.78L1253.62 509.78L1210.32 484.78L1210.32 434.78zM1383.53 34.78L1426.83 59.78L1426.83 109.78L1383.53 134.78L1340.23 109.78L1340.23 59.78zM1383.53 184.78L1426.83 209.78L1426.83 259.78L1383.53 284.78L1340.23 259.78L1340.23 209.78zM1426.83 -40.22L1470.13 -15.22L1470.13 34.78L1426.83 59.78L1383.53 34.78L1383.53 -15.22zM1470.13 34.78L1513.44 59.78L1513.44 109.78L1470.13 134.78L1426.83 109.78L1426.83 59.78zM1426.83 409.78L1470.13 434.78L1470.13 484.78L1426.83 509.78L1383.53 484.78L1383.53 434.78z' stroke='rgba(245%2c 244%2c 65%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.steps {
    display: flex;
    height: auto;
    align-items: center;
}

.steps-contents {
    display: flex;
    margin: 40px 55px 40px 65px;
    flex-wrap: wrap;
}

.steps-contents > article {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 15px 10px -15px #111; 
    background: white;
    margin-right: 20px;
    margin-bottom: 20px;
   
}

.steps-contents > article > h3 {
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.steps-contents > article > h3 > i{
    color: var(--cor-button-azul);
}

.steps-contents > article > p {
    font-size: 1.4rem;
    color: var(--cor-etapas-paragrafo);
}

.form-search > select > option {
  text-align: center;
}


/* Pagamento e Telemedicina */

.payment {
    height: 425px;
    margin-top: 40px;

}

.payment-contents {
    display: flex;
    margin: 0px 55px 0px 55px;
    flex-wrap: nowrap;
   
}

.payment-img{
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.payment-public {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px;
}

.payment-public > h1 {
    font-size: 3.5rem;
    margin-bottom: 1.4rem;
    font-weight: 400;
}

.payment-public > h2 {
    font-size: 3rem;
    margin-bottom: 1.4rem;
    font-weight: 300;
    color:#1c59a2;
}

.payment-public > p {
   font-size: 1.8rem;
   color: #5f5f5f;
   font-style: normal;
   line-height: 196.69%;
   font-weight: 300;
}

/* Artigos Blog */

.bg-articles {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(210,229,255,1) 49%, rgba(252,252,252,1) 100%);
}

.articles > h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0px 55px 10px 55px;
    padding-top: 20px;
    display: flex;
    justify-content:center;
}
.articles > h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0px 55px 10px 55px;
    color:#1c59a2;
    padding-bottom: 20px;
    display: flex;
    justify-content:center;
}

.articles-contents > article > img {
    max-width: 100%;
}


.articles-contents {
    display: flex;
    margin: 0px 55px 0px 55px;
    flex-wrap: nowrap;
}

.articles-contents > article {
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 15px 10px -15px #111; 
    margin: 0px 20px 20px 0px;
   
}

.articles-contents > article > h4 {
    padding: 10px 20px 0 20px;
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 400;
    text-decoration: underline;
}

.articles-contents > article > p {
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    font-size: 1.4rem;
    color: var(--cor-etapas-paragrafo);
}

.articles-contents > article > button {
    margin: 10px 20px;
    width: 100px;
    height: 30px;
    background: var(--cor-button-azul);
    border-radius: 4px;
    color: white;
    border-style: none;
}


/* Responsividade Tablet */
@media only screen and (max-width: 1260px) {

    .container {
        margin: 0 auto;
        max-width: 100%;
    }


    .payment-public {
        margin-left: 0;
    }
    .payment {
        height: auto;
        margin-top: 0;
    }

    .payment-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    
    .payment-public {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0;
    }

    .payment-public > h1 {
        display: flex;
       justify-content: center;
    }

    .payment-public > h2 {
        display: flex;
       justify-content: center;
    }

    .payment-public > p {
       margin-bottom: 100px;
    }



    .articles-contents {
        display: flex;
        margin: 0 55px 0 55px;
        flex-wrap: wrap;
        justify-content: space-evenly;
       
    }

    .articles-contents > article {
        height: auto;
        max-width: 400px;
        margin: 0 20px 20px 0;
    }



    /* Esconder Menu WEB e Abrir Mobile */

    .menu-web {
      display: none;
    }
    
    .menu-responsive {
        display: block;
        margin-right: 20px;
    
    }
    
    .menu-responsive a{
        color: white;
        font-size: 2.8rem;
        
    }   

    .menu-mobile {
        display: block;
        position: absolute;
        float: right;
        top: 80px;
        background-color: white;
        width: 140px;
        right: 20px;
        border-radius: 4px;
        line-height: 30px;
    }

    .menu-options-mobile ul {
        margin-left: 10px;
        display: none;
        padding: 10px;
        font-size: 1.3rem;
        text-align: left;
        
    }

   
    .menu-options-mobile a {
        color: rgb(53, 53, 53);
    }

    .menu-options-mobile li:hover {
        background-color: #ededed;
        border-radius: 4px;
    }

      
    .logo {
        flex:1;
        margin-left: 44px;
    }

    .slider-contents > .slider-medical {
        display: none;
    }

    .slider-search { 
       margin-top: 170px; 
       margin-left: 54px;
       align-items: center;
      
    }

    .slider-search-box {
        min-width: 600px;
        max-height: 95px;
        align-items: center;
        justify-content: center;
    }


  }


/* Responsividade Small Tablet */
@media only screen and (max-width: 1016px) {

    .steps-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex-direction: row;        
    }

    .steps-contents > article {
        width: 450px; 
    }
    
 
    .slider-search { 
        margin-top: 140px; 
        margin-left: 0;
        
     }

     .slider-search > h1 {
        font-size: 2.6rem;
    }
    
    .slider-search > h2 {
        font-size: 1.4rem;
 
    }
    
    .slider-search-box {
        width: 420px;
        height: 185px;
        background: var( --cor-slider-box);
        border-radius: 4px;
        margin-top: 30px;
      
    }
    
    .slider-search-box button {
        width: 129px;
        height: 58px;
        background: var(--cor-button-azul);
        border-radius: 4px;
        color: white;
        border-style: none;
        font-size: 1.5rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .slider-search-box button:hover {
        background-color: var(--cor-menu-hover);
    }
    
    .slider-search-box select {
        font-weight: 500;
        font-size: 1.6rem;
        color: rgb(70, 68, 68);
        width: 340px;
        height: 57px;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
       
      
    }   

    .slider-search-box {
        min-width: 600px;
        max-height: 95px;
        align-items: center;
        justify-content: center;
    }


}

/* Responsividade Celular */
@media only screen and (max-width: 636px) {
    .slider-contents {
        justify-content: center;
    }
    .slider-search-box {
        min-width: 100%;
        min-height: 200px;       
    }
    .form-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0 0;
        flex-wrap: wrap;
    }
    .slider-search-box select {
        margin: 0;
        width: 290px;
    }
    .slider-search {
        margin: 100px 0px 20px 0px;
    }
    .steps-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex-direction: row;        
    }

    .steps-contents > article {
        width: 250px; 
    }
    
    .slider-search-box {
        width: 100%;
        height: 95px;
        justify-content: center;
    }

    .slider-search > h1 {
       text-align: center;
        }

    .slider-search > h2 {
        padding: 0 10px 0 10px;
        text-align: center;
        line-height: 20px;
     
     }

     .logo {   
        margin-left: 10px;
    }

    
}